<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triabin.ideasy_server.mapper.UserMapper">
    <select id="selectUsers"
            parameterType="com.triabin.ideasy_server.bean.user.UserDto"
            resultType="com.triabin.ideasy_server.pojo.User">
        SELECT * FROM `ideasy_user`
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="genders != null and genders.size() > 0">
                AND
                <foreach collection="genders" item="gender" open="(" separator="OR" close=")">
                    gender=#{gender.value}
                </foreach>
            </if>
            <if test="youngerOrEqThan != null">
                AND age &lt;= #{youngerOrEqThan}
            </if>
            <if test="olderOrEqThan != null">
                AND age >= #{olderOrEqThan}
            </if>
            <if test="createdAfterOrEq != null">
                AND created_at >= #{createdAfterOrEq}
            </if>
            <if test="createdBeforeOrEq != null">
                AND created_at &lt;= #{createdBeforeOrEq}
            </if>
            <if test="updatedAfterOrEq != null">
                AND updated_at >= #{updatedAfterOrEq}
            </if>
            <if test="updatedBeforeOrEq != null">
                AND updated_at &lt;= #{updatedBeforeOrEq}
            </if>
        </where>
    </select>
</mapper>
